.footer {
  width: 100%;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--secondary-color);
}

.footer nav {
  width: 25%;
  padding:  0 6rem;
  display: flex;
  justify-content: space-between;
}

.footer nav a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
}

.footer nav a:hover {
  scale: 1.1;
}