* {
    margin: 0px;
    padding: 0px;
    border: 0px
}
body {
    background-image: url(imagens/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg);
    background-size: 5600px;
    font-family: 'Raleway', sans-serif;
}

.header {
    background-color: rgba(20, 142, 224, 0.562);
    /* border: 1px solid red; */
    text-align: center;
    margin: 10px;
    border-radius: 6px;
}

h1 {
    color: rgb(2, 62, 138);
}