* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    font-family: 'Raleway', sans-serif; 
    background-color: #141313;
    color: white;
    font-size: 16px;
    font-weight: 200;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

header {
    height: 200px;
    padding: 0px 30px;
    background-color: #0e0a18;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 3px 3px #4717f5;
}

h1 {
    font-size: 4.5rem;
}

header i {
    color: #4717f5;
    font-size: 4.5rem;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

}

.header-logo {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburguer-menu span {
    color: #4717f5;
    font-size: 10.5rem;
}

#burguer {
    transition: 0.5s;
    cursor: pointer; 
    opacity: 0.7;   
}

.open-menu {
    display: block;
}

.close-menu {
    display: none;
}

#burguer:hover {
    cursor: pointer;
    opacity: 1;
}

#nav-links-desktop {
    display: none;
}

#nav-links {
    position: absolute;
    padding: 20px;
    top: 203px;
    background-color: #0e0a18f8;
    height: 1480px;
    width: 100%;
    display: none;
    flex-direction: column;
    box-shadow: 3px 3px #4717f5;
    align-items: center;
    justify-content: space-evenly;
    transition: 1s;
}

a {
    text-decoration: none;
    font-weight: 500;
    color:#4717f5;
    opacity: 0.5;
    margin: 5px 0px;
    transition-delay: 1s;
    cursor: pointer;
    font-size: 3rem;
}

a:hover {
    opacity: 1;
    text-decoration:underline;
  
}

.home {
    margin-top: 203px;
    top: 203px;
    box-shadow: 3px 3px #4717f5;
    border-radius: 2px;
    width: 100%;
    text-align: center;
    height: 1480px;
    background-color: black;
    background-image: url(imagens/background-profile.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-content { 
    padding: 30px;
    border-radius: 2px;
    background-color: #141313bb;
    box-shadow: 3px 3px #4717f552;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    overflow: auto;
    margin: 20px;
    align-items: center;

}

.home-content h1 {
    font-size: 3.5rem;
}
.home-content h2 {
    font-size: 2rem;
}

#btn-about{
    margin: 20px;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    border: 5px solid #4717f5;
    display: block;
    background-color: #4717f500;
    transition: 0.5s;
}

#btn-about a {
    font-size: 30px;
    color: #4717f5;
    transition: 0.5s;
}

#btn-about a:hover{
    color: white;
    text-decoration: none;
}

#btn-about:hover {
    background-color: #4717f5;
}

#home-text {
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* 
header {
    font-size: 40px;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 150px;
    border-radius: 2px;
    margin-right: 3px ;
    padding: 10px 0;
    background-color: #0e0a18;
    box-shadow: 3px 3px #4717f5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    color: white;
    font-weight: 500;
    flex-shrink: 1;
    letter-spacing: 10px;
    font-size:40px ;
    }





.contact {
    width: 100%;
    height: 200px;
    background-color: white;
}

.contact h2 {
    text-align: center;
    color: #141313;
    padding: 10px;
} */
 */
