* {
    margin: 0px;
    padding: 0px;
    border: 0px
}
body {
    width: 100%;
    background-color: rgb(225, 236, 247);
    background-size: 5600px;
    font-family: 'Raleway', sans-serif;
}

p {
    color:rgb(0, 48, 100);
    font-weight: 300;
    letter-spacing: 4px;
}

a {
    text-decoration: none;
    color: rgb(0, 48, 100);
}

a:hover {
    text-shadow: 2px 2px rgb(113, 165, 222);
}

.header {
    background-color: rgba(174, 203, 235);
        margin: 0px;
     width: 100%;
    position: fixed;
    }
.header h1 {
    text-align: left;
    float: left;
    color: rgb(225, 236, 247);
    margin: 10px 15px ;    
}
ul{
    margin-right: 100px;
}
li {
    float: right;
    letter-spacing: 5px;
    display: inline;
    margin: 15px 80px;
    width: auto;
}
.header a {
    color: rgb(225, 236, 247);
    text-decoration: none;  
    font-weight: 400;
    font-size: 125%;
}
.header a:hover {
  text-shadow: 2px 2px rgb(113, 165, 222);
}

.profile {
    background-color: rgb(225, 236, 247);
    width: 80%;
    height: 600px;
    position: relative;
    top: 250px;
    left: 9.5%;
    box-shadow: 0px 0px 20px 20px rgba(174, 204, 235, 0.616);
}
.profile img {
    width: 20%;
    transform: rotate(352deg);
    box-shadow: 0px 0px 5px 5px rgba(174, 204, 235, 0.616);
    position: relative;
    right: 50px;
    
 
}
