.mainProjects{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  position: relative;
  padding: 0 6rem 6rem;
  min-height: 727px;
}

.projectsList {
  width: 80%;
  margin-top: 6rem;
  display: flex;
  gap: 3.3rem;
  flex-wrap: wrap;
  align-items: center;
}

.mainProjects h2{
  font-size: 2rem;
  margin-top: 6rem;
  z-index: 1;
  text-transform: uppercase;
}

.moreProjects {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--secondary-color);
  cursor: pointer;
}

.moreProjects a {
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.moreProjects a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.row1 {
  height: 50%;
  border: 4px solid var(--secondary-color);
  position: absolute;
  right: 5%;
  top: 0;
}

.row2 {
  height: 25%;
  border: 2px solid var(--primary-color);
  position: absolute;
  right: 10%;
  top: 0;
}

.row3 {
  height: 100%;
  border: 4px solid var(--secondary-color);
  position: absolute;
  left: 5%;
  top: 0;
}

.row4 {
  height: 100%;
  border: 2px solid var(--primary-color);
  position: absolute;
  left: 10%;
  top:0;
}
