.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  width: 100%;
  position: relative;
  padding: 6rem 0;
}

.container h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

