/* Mantendo a seção .about como está */

.about {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  align-items: center;
  justify-content: center;
  color: black;
  padding: 6rem;
  position: relative;
  min-height: 727px;
}

.about h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.2rem;
  width: 80%;
  margin: 0 auto 10px;
}

.link {
  background: none;
  border: none;
  font-size: 3rem;
  transition: 0.5s ease-in-out;
  color: black;
  cursor: pointer;
  margin-top: 40px;
}

.link:hover {
  transform: scale(1.1); /* Corrigindo aqui */
}


.row1 {
  height: 100%;
  border: 4px solid black;
  position: absolute;
  right: 5%;
}

.row2 {
  height: 100%;
  border: 2px solid var(--primary-color);
  position: absolute;
  right: 10%;
}

.row3 {
  height: 25%;
  border: 4px solid black;
  position: absolute;
  left: 5%;
  bottom: 0;
}

.row4 {
  height: 50%;
  border: 2px solid var(--primary-color);
  position: absolute;
  left: 10%;
  bottom: 0;
}

.resumeButton {
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
  margin-top: 40px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.resumeButton:hover {
  background-color: black;
  color: var(--secondary-color);
}