@import url('../styles/variables.module.css'); 

.header {
  width: 100vw;
  margin: auto;
  padding: 2rem 1.5rem;
  display: flex;
  border-bottom: 4px solid var(--secondary-color);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

.header a {
  color: var(--tertiary-color);
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  transition: 0.3s;
}

.header a:active {
  color: var(--secondary-color) ;
  scale: 0.9;
}

