:root {
  --primary-color : #000411;
  --secondary-color: #160C28;
  --tertiary-color: #E1EFE6;
  --font-size: 16px;
}

main {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-size: var(--font-size);
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}