@import './styles/global-variables.css';



.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: var(--secondary-color);
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondary-color);
}

h1 {
  letter-spacing: 0.3rem;
}

h2 {
  letter-spacing: 0.2rem;
}



.backTopBtn {
  position: fixed;
  top: 5%;
  z-index: 999;
  right: 18%;
  background: none;
  border: none;
  color: var(--primary-color);
  font-size: 4rem;
  cursor: pointer;
  animation: fadeInSlideUp 1s, upAndDown 2s infinite;
}

.backTopBtn:hover {
  scale: 1.1;
}

@keyframes upAndDown {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes fadeInSlideUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadedOutSlideDown {
  0% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(20px);
  }
}
