.habilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}

.habilities h2 {
  margin-bottom: 40px !important;
  color: black;
}

.habilities ul {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.habilities li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 25%;
  margin-bottom: 20px;

  svg {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    letter-spacing: 0;
    text-transform: uppercase;
  }
}